html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js")
        link(href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

    body(style="background-image: url('../imagenes/fondoMedico.jpeg');") 
        header.text-white.py-4(style="background-color: #84d5d5; color: white;")
            button.btn.btn-light.btn-sm.ml-3(onclick="window.history.go(-2)")
                i.fas.fa-arrow-left
            h1.text-center Atención Médica 
            p.text-center Consulta

        if isVisible
            p(style="display: block; color: green; font-size: 24px; font-weight: bold; text-align: center;") Consulta guardada!
        if error
            p(style="display: block; color: red; font-size: 24px; font-weight: bold; text-align: center;") Ocurrio un error

        form(action="/consulta" method="POST" class="container mt-5")
            .mb-3
                label.form-label(style=" color: rgba(0, 0, 0, 0.8); background-color:rgba(255, 255, 255, 0.5) ; font-size: 24px; font-weight: bold; text-align: center;") EVOLUCION
                    div(id="editor")(style="width: 800px; height: 200px;")
                        
                div
                    button.btn.btn-primary(style="background-color: #43adcf" type="submit") Guardar Consulta
            input(type="hidden" id="editorContent" name="editorContent")
           


        script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js")
        script.
            const quill = new Quill("#editor", {
                theme: "snow",
            });

            document.querySelector('form').addEventListener('submit', function(event) {
                
                const editorContent = quill.getText().trim();
    
                document.getElementById('editorContent').value = editorContent;

                console.log("Contenido guardado:", editorContent);
            });

            



            

           
        

