html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js")
        link(href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        block head

    body
        
        nav.navbar.navbar-expand-lg.navbar-dark(style="background-color: #84d5d5;")
            .container-fluid
                a.navbar-brand Atención Médica

                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
                    span.navbar-toggler-icon

                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.me-auto
                        li.nav-item
                            a.nav-link(href="/agenda") 
                                i.fas.fa-calendar-alt.me-1
                                | Agenda

                        // DROPDOWN PLANTILLAS
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown")
                                i.fas.fa-file-alt.me-1
                                | Plantillas
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href="/plantillas") Ver plantillas
                                li
                                    a.dropdown-item(href="/plantillas/nueva") Nueva plantilla

                    
                    ul.navbar-nav.ms-auto
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown")
                                i.fas.fa-user-md.me-1
                                | #{usuario.nombre} #{usuario.apellido}
                            ul.dropdown-menu.dropdown-menu-end
                                li
                                    a.dropdown-item(href="/login/logout")
                                        i.fas.fa-sign-out-alt.me-1
                                        | Cerrar sesión

        
        block content
        
        block scripts