extends layout

block content
    .container.mt-4
        .vista-header
            h2.mb-0 Nueva Plantilla

        .card
            .card-body
                form#formPlantilla(action="/plantillas" method="POST")
                    input.form-control.mb-3(
                        name="nombrePlantilla"
                        placeholder="Nombre de la plantilla"
                        required
                    )

                    label.form-label Contenido
                    div#editorPlantilla(style="height: 250px;")

                    input(type="hidden" name="contenido" id="contenidoPlantilla")

                    .d-flex.justify-content-center.mt-3
                        button.btn.btn-primary(type="submit")
                            i.fas.fa-save.me-2
                            | Guardar Plantilla
    if error
        .alert.alert-danger
            i.fas.fa-circle-exclamation.me-2
            | #{error}
block scripts
    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js")
    script.
        const quillPlantilla = new Quill('#editorPlantilla', { theme: 'snow' });

        document.getElementById('formPlantilla').addEventListener('submit', function() {
            document.getElementById('contenidoPlantilla').value = quillPlantilla.root.innerHTML;
        });